<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>LOGIN</h1>
<form method="post" action="">
<input type="text" name="loginId" placeholder="ID">
<input type="password" name="loginPwd" placeholder="Password">
<button type="submit">로그인</button>
</form>
<hr>
<h1>JOIN</h1>
<form method="post" action="">
<input type="text" name="joinId" placeholder="ID">
<input type="password" name="joinPwd" placeholder="Password">
<br>
<input type="radio" name="role" value="user">User
<input type="radio" name="role" value="admin">Admin
<button type="submit">회원가입</button>
</form>
<hr>
<button type="button">User</button>
<button type="button">Admin</button>
</body>
</html>